
[submodule "bundle/command-t"]
	path = bundle/command-t
	url = https://github.com/wincent/command-t.git
[submodule "bundle/ack.vim"]
	path = bundle/ack.vim
	url = https://github.com/mileszs/ack.vim.git

[submodule "bundle/lighline.vim"]
	path = bundle/lighline.vim
	url = https://github.com/itchyny/lightline.vim
